<!DOCTYPE html>
<html>

<head>
    <title>Summer Geeks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cc61518ae6.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{>header}}
</head>

<body>
    <div class="container">

        <div class="jumbotron">
            <centr>
                <h1>Entry Managment Software</h1>
                </centre>

                <div class="form-group">
                    <label for="exampleInputEmail1">Name :{{name}} </label>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email Address :{{email}}</label>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Phone :{{phone}}</label>

                </div>


                <a href='/guest' class="btn btn-primary">Guest</a>
                <a href='/checkout' class="btn btn-primary">Checkout</a>





        </div>
    </div>


</body>

</html>